

nav.sidenav{
  float: left;
}

a {
  background-color: #4CAF50; /* Green */
  border: solid whitesmoke;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mapboxgl-popup-content {
  width: 200px;
}

.route-metric-row {
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  padding-right: 4px 12px;
}

.row-title {
  align-items: center;
  background-color: #4094ae;
  border: 1px solid #4094ae;
  border-radius: 16px;
  color: #ffffff;
  font-weight: normal;
  justify-content: center;
  margin: 0;
  padding: 4px 12px;
  text-align: center;
}

.row-value {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.875rem;
	padding-right: 16px;
  text-align: right;
}

.item-name {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.875rem;
  margin: 0;
}

.route-city {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.8rem;
  margin-bottom: 0;
  padding: 8px;
}

h2,
h3 {
margin: 10px;
font-size: 18px;
}
h3 {
font-size: 16px;
}
p {
margin: 10px;
}
.map-overlay {
position: absolute;
bottom: 0;
right: 0;
background: #fff;
margin-right: 20px;
font-family: Arial, sans-serif;
overflow: auto;
border-radius: 3px;
}
#map {
position: absolute;
top: 0;
bottom: 0;
width: 100%;
}
#features {
top: 0;
height: 100px;
margin-top: 20px;
width: 250px;
}
#legend {
padding: 10px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
line-height: 25px;
height: 150px;
margin-bottom: 40px;
width: 150px;
}
.legend-key {
display: inline-block;
border-radius: 20%;
width: 10px;
height: 10px;
margin-right: 5px;
}